body {
    margin: 0;
    font: 16px "Montserrat";
}

.page-home {
    background: #00a3e7;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.page-home .wrapper {
    width: 800px;
}

.page-game .header {
    height: 80px;
    background: #00a3e7;
}

.page-home .header {
    margin: 80px 0 15px;
}

.logo {
    margin: 0;
    font-size: 1.8em;
}

.logo a {
    text-transform: lowercase;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 2px 0 #0094d1;
}

.page-game .header .logo {
    float: left;
    width: 200px;
    padding: 18px 0;
    text-align: center;
}

.page-game .header .search-box {
    float: left;
}

.page-home .search {
    margin-top: 15px;
}

.page-game .search {
    margin: 15px;
    height: 50px;
}

.page-game .search-input {
    width: 490px;
}

.search {
    height: 60px;
    box-shadow: 0 2px 0 #0094d1;
}

.search-input {
    float: left;
    width: 700px;
    height: 100%;

    border: 0;
    padding: 0 20px;
    margin: 0;

    font-family: inherit;
    font-size: 1.2em;
    color: #222;
}

.search-button {
    width: 60px;
    height: 100%;

    border: 0;
    padding: 0;
    margin: 0;

    font-size: 1.2em;
    background: #eee;
}

.search-button:hover {
    background: #e4e4e4;
}

.search-button:active {
    background: #ddd;
}

.results {
    display: block;

    margin-top: 20px;
    padding: 0;

    list-style: none;

    background: #fff;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
}

.result-item {

}

.result-item a {
    display: block;
    padding: 20px;

    color: #222;
    text-decoration: none;
}

.result-item a:hover {
    background: #f4f4f4;
}

.result-item a:active {
    background: #eee;
}

.details {
    margin-top: 20px;
    float: left;
    width: 200px;
}

.poster {
    width: 100%;
}

.metascore {
    padding-top: 10px;
    height: 60px;
}

.metascore {
    margin: 15px 0;

    text-align: center;
    color: #fff;
    font-size: 14px;
}

.metascore-low { background-color: #f00; }
.metascore-mid { background-color: #fc3; }
.metascore-high { background-color: #6c3; }

.metascore .score {
    display: block;
    font-size: 26px;
}

.detail {
    margin: 15px 0;
}

.detail-title {
    display: block;
    text-transfom: uppercase;
    font-size: 12px;
    color: #888;
}

.content {
    margin: 20px 0 0 30px;
    width: 730px;
    float: left;

}

h2 {
    margin: 10px 0;
    font-weight: normal;
}

.description {

}